<h3>Add a New Car</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="carBrand">Car Brand: </label>
      <input type="text" class="form-control" id="carBrand" required [(ngModel)]="car.carBrand" name="carBrand" placeholder="Car Brand">
    </div>

    <div class="form-group">
      <label for="carModel">Car Model: </label>
      <input type="text" class="form-control" id="carModel" required [(ngModel)]="car.carModel" name="carModel" placeholder="Car Model">
    </div>

    <div class="form-group">
      <label for="carYear">Car Year: </label>
      <input type="number" class="form-control" id="carYear" required [(ngModel)]="car.carYear" name="carYear" placeholder="1900 to 2019">
    </div>

    <div class="form-group">
      <label for="carPrice">Car Price: </label>
      <input type="number" class="form-control" id="carPrice" required [(ngModel)]="car.carPrice" name="carPrice" placeholder="AUD">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <button class="btn btn-success" (click)="newCar()"> Add Car </button>
</div>
