<h2>Car Details</h2>
<div *ngIf="car">
  <div>
    <label>Car Brand: </label> {{car.carBrand}}
  </div>
  <div>
    <label>Car Model: </label> {{car.carModel}}
  </div>
  <div>
    <label>Car Year: </label> {{car.carYear}}
  </div>
  <div>
    <label>Car Price: </label> {{car.carPrice}}
  </div>

  <button class="is-small btn-primary" routerLink="/editcar/{{car.id}}" role="button" routerLinkActive="active">Edit</button>

  <button class="is-small btn-primary" (click)='deleteCar(car)'>Delete</button>

  <button class="is-small btn-primary" (click)='goBack()'>Cancel</button>

  <hr/>
</div>
