<h2>Edit Car</h2>
<div *ngIf="car">
  <label>Change Car Brand:
    <input [(ngModel)]="car.carBrand" placeholder="Car Brand">
  </label>
  <br>
  <label>Change Car Model:
    <input [(ngModel)]="car.carModel" placeholder="Car Model">
  </label>
  <br>
  <label>Change Car Year:
    <input [(ngModel)]="car.carYear" placeholder="1900 - 2019">
  </label>
  <br>
  <label>Change Car Price:
    <input [(ngModel)]="car.carPrice" placeholder="AUD">
  </label>
  <br>
  <button class="is-small btn-primary" (click)="save()">Save</button>
  <button class="is-small btn-primary" (click)="goBack()">Back</button>
</div>

