#viewBtn:hover, #loginBtn:hover, #logoutBtn:hover, #addBtn:hover {
  background-color: #1774b2;
}

#viewBtn, #addBtn, #loginBtn, #logoutBtn {
  height: 2em;
  text-align: center;
  line-height: 1em;
  background-color: #2199e8;
}

#wrapper {
  display: flex;
}

#search{
  padding-left: 40%;
}

ul li {
  display: inline;
  list-style: none;
  margin-right: 0.5em;
}
