<div style="padding: 20px;">
  <h1 style="color: Black">{{title}}</h1>

  <!--<div id="wrapper">-->
  <!--<div class="alignleft">-->
    <!--<a id="viewBtn" routerLink="viewcar" class="btn btn-primary active" role="button" routerLinkActive="active">View Cars</a>-->
    <!--<a id="addBtn" routerLink="createcar" class="btn btn-primary active" role="button" routerLinkActive="active">Add Car</a>-->
  <!--</div>-->
    <!--<div class="alignright">-->
      <!--<car-search></car-search>-->
    <!--</div>-->
  <!--</div>-->

  <ul>
    <li><a id="viewBtn" routerLink="viewcar" class="btn btn-primary active" role="button" routerLinkActive="active">View Cars</a></li>
    <li><a id="addBtn" routerLink="createcar" class="btn btn-primary active" role="button" routerLinkActive="active">Add Car</a></li>
    <li><a id="loginBtn" routerLink="login" class="btn btn-primary active" role="button" routerLinkActive="active">Login</a></li>
    <li><a id="logoutBtn" class="btn btn-primary active" role="button" routerLinkActive="active" (click)="logout()">Logout</a></li>
    <li><car-search id="search"></car-search></li>
  </ul>

  <router-outlet></router-outlet>
</div>
