
Car Search: <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Enter Car Brand or Model"/>

<ul class="search-result">
  <li *ngFor="let car of cars$ | async" >
    <a routerLink="/detail/{{car.id}}">
      {{car.carBrand}}, {{car.carModel}}
    </a>
  </li>
</ul>
