<h1>Car List</h1>

  <!--<div *ngFor="let car of cars">-->
    <!--<a [routerLink]="['/detail', car.id]">{{car.id}}, {{car.carYear}}</a>-->
    <!--<a routerLink="/detail/{{car.id}}">{{car.carBrand}}, {{car.carModel}}</a>-->
  <!--</div>-->
<div class="table text-center table-striped table-borderless table-hover">
<table border="2" width="60%" cellpadding="2">
  <thead>
  <tr>
    <th>Car Brand <button class="button order" (click)="orderByBrand()">ʌ v</button></th>
    <th>Car Model <button class="button order" (click)="orderByModel()">ʌ v</button></th>
    <th>Car Year  <button class="button order" (click)="orderByYear()">ʌ v</button></th>
    <th>Car Price <button class="button order" (click)="orderByPrice()">ʌ v</button></th>
    <th></th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of cars | paginate: { itemsPerPage: 15, currentPage: p }">
    <td>{{car.carBrand}}</td>
    <td>{{car.carModel}}</td>
    <td>{{car.carYear}}</td>
    <td>{{car.carPrice}}</td>
    <td><button class="button edit" a routerLink="/detail/{{car.id}}"> View </button></td>

  </tr>
  </tbody>
</table>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>
